<footer id="footer">
    <div class="outer">
        <div id="footer-info">
            <div class="footer-left">
                &copy; 2015 - <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
            </div>
            <div class="footer-right">
                More writing: <a href="http://tumblr.bmannconsulting.com">Tumblr</a> | <a href="http://medium.com/@bmann">Medium</a> | <a href="http://www.bmannconsulting.com">BMC</a> 
        </div>
        <div class="visit">
            <!-- trimmed -->
        </div>
    </div>
</footer>